
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.headTitle {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  margin: 0;
  padding: 20px;
}

.profile {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 20px 62px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 11%;
  justify-content: space-between;
}

nav a:hover {
  background-color: var(--nav-hover);
  color: var(--black);
}

.divContainer {
  margin-left: 12%;
}

nav ul {
 display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0px 0px;
} 

nav ul li a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  font-size: medium;
  text-decoration: none;
  padding: 20px 62px;
}

nav ul li a:hover {
  background-color: var(--nav-hover);
  color: var(--black);
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search-container input[type=text] {
  width: 80%;
  padding: 20px 20px;
  margin: 0;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
}

.search-container button[type=submit] {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 20px 20px;
  margin: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.search-container button[type=submit]:hover {
  background-color: var(--nav-hover);
}

.magnified-text{
  font-size: xx-large;
  text-align: center;
  margin-top: 20%;
}
