
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

.headTitle {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  margin: 0;
  padding: 20px;
}

.profile {
  display: block;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  padding: 20px 62px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 11%;
  justify-content: space-between;
}

nav a:hover {
  background-color: var(--nav-hover);
  color: var(--black);
}

.divContainer {
  margin-left: 12%;
}

nav ul {
 display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0px 0px;
} 

nav ul li a {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  font-size: medium;
  text-decoration: none;
  padding: 20px 62px;
}

nav ul li a:hover {
  background-color: var(--nav-hover);
  color: var(--black);
}

.spacing{
  display: flex;
  flex-direction: row;
}

.card-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 740px;
  text-align: center;
  margin-right:20px ;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.card-detail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  width: 100%;
  height: 900px;
  text-align: left;
  padding-left:20px;
  padding-right: 20px;
  border-radius: 20px;
}
.card-pic {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background-image: url('../assests/img/profile-logo.png');
  background-size: contain;
  background-position: center center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  color: var(--grey);
  font-size: 18px;
}

.box {
  border: none;
  outline: 0;
  display: inline-block;
  color: var(--white);
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  width: 350px;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: var(--white);
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}